body{
    line-height: 0px;
    background-color: rgb(31, 32, 34);
    color: white;
}

.percent-bar{
    border: solid white 1px;
    width: 100%;
    height: 50px;
    margin: 5px 0;
    display: flex;
}

.percent-bar-hydrogen{
    background-color: rgb(225, 65, 225);
}

.percent-bar-helium{
    background-color: rgb(106, 35, 161);
}

.percent-bar-carbon{
    background-color: rgb(230, 105, 22);
}

.temperature-bar-below-hydrogen-fusion{
    background-color: rgb(23, 129, 13);    
}
